/* div {
    width: 1500px;
    height: 1500px;
    background-color: rebeccapurple;
    background-position: left center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-size: 20px;
} */

.titl-img {
    width: 300px;
    height: 120px;
    font-size: 50px;
    background-color: rgb(255 255 255/50%);
    background-position: left 50%;

}

.images {
    width: 120px;
    height: 120px;
    background-position: 200px 200px;
    background-color: rgba(92, 90, 90, 0.114);
    /* background-position: center left; */
}

.p {
    background-position: 900px 900px;

    width: 400px;
    height: 50px;
    background-color: blanchedalmond;
    font-size: 30px;
}

.countaner {
    width: max-content;
    height: max-content;
    background-color: beige;
    background-size: 1000px 1000px;

}





/* < chalng 1 .title -->class in page tittle #nav -->id for all element in nav div -->all tag "div" are selected h2 -->all tag in the page sorce are selected><chalng 2 <link rel="stylesheet" href="css/file.css" />-->extra <style>p {
    color: red;
    -->internal
}

</style><p style="color: blue;">This Is Our Paragraph</p>-->inline */